@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* rtl:ignore */
/* ltr:ignore */
body{
  background: #1D1D1F;
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  color: #ffff;
}

.bg-modal-linear{
  background: linear-gradient(257.28deg, #363537 1.2%, #333336 99.45%);
}

.bg-linear{
  background: linear-gradient(180deg, #2C2C2E 0%, #1D1D1F 100%);
}

// router when active
.router-link-exact-active{
  @apply tw-bg-primary
}

.center-flex{
  @apply tw-flex tw-items-center tw-justify-center
}

.shadow{
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05);
}