@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* rtl:ignore */
body{
  background: #1D1D1F;
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  color: #ffff;
}

.bg-modal-linear{
  background: linear-gradient(257.28deg, #363537 1.2%, #333336 99.45%);
}

.bg-linear{
  background: linear-gradient(180deg, #2C2C2E 0%, #1D1D1F 100%);
}

// router when active
.router-link-exact-active{
  @apply bg-primary rounded-[4px] 
}

.center-flex{
  @apply flex items-center justify-center
}

.shadow{
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05);
}
.shadow1{
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.h1{
  @apply text-[24px] 
}

.btn{
  @apply py-[9px] px-[34px] font-[14px] rounded-[10px] bg-primary text-white border-0 hover:bg-primary-dark
}

.bg-icon{
  @apply w-[39px] h-[39px] bg-primary-dark rounded-full center-flex
}
.bg-icon2{
  @apply w-[44px] h-[44px] bg-primary-dark rounded-full center-flex
}

.bg-icon3{
  @apply w-[40px] h-[40px] bg-secondary rounded-full flex justify-center items-center
}

.divider1{
  @apply w-[1px] h-[33px] bg-secondary
}